/* FONTS */
@font-face {
    font-family: Droid_sans;
    src: url(fonts/droidsans/droidsans-webfont.eot);
    src: url(fonts/droidsans/droidsans-webfontd41d.eot?#iefix) format('embedded-opentype'), url(fonts/droidsans/droidsans-webfont.woff) format('woff'), url(fonts/droidsans/droidsans-webfont.ttf) format('truetype'), url(fonts/droidsans/droidsans-webfont.svg#droid_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Droid_sans;
    src: url(fonts/droidsans/droidsans-bold-webfont.eot);
    src: url(fonts/droidsans/droidsans-bold-webfontd41d.eot?#iefix) format('embedded-opentype'), url(fonts/droidsans/droidsans-bold-webfont.woff) format('woff'), url(fonts/droidsans/droidsans-bold-webfont.ttf) format('truetype'), url(fonts/droidsans/droidsans-bold-webfont.svg#droid_sansbold) format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: raleway-light;
    src: url(fonts/raleway/raleway-light.eot);
    src: url(fonts/raleway/raleway-light.woff) format('woff'), url(fonts/raleway/raleway-light.ttf) format('truetype'), url(fonts/raleway/raleway-light.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: raleway-regular;
    src: url(fonts/raleway/raleway-regular.eot);
    src: url(fonts/raleway/raleway-regular.woff) format('woff'), url(fonts/raleway/raleway-regular.ttf) format('truetype'), url(fonts/raleway/raleway-regular.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: raleway-bold;
    src: url(fonts/raleway/raleway-bold.eot);
    src: url(fonts/raleway/raleway-bold.woff) format('woff'), url(fonts/raleway/raleway-bold.ttf) format('truetype'), url(fonts/raleway/raleway-bold.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

/* GENERAL */
body{
    background: url("../media/WorldMapGray.png") !important;
    background: #F8F8F8;
}
#container{
    width: 960px;
    margin: 0 auto;
}

/* HEADER */
#container > header{
    height: 60px;
    margin: 10px 0 20px 0;
}
.logo {
    position: relative;
    width: 200px;
    height: 60px;
    float: left;
}
.navbar{
    margin-top: 10px;
    background: #FFF;
    border-radius: 3px;
    position: relative;
    float: right;
}
.navbar .nav{
    position: relative;
    left: 0;
    display: block;
    float: left;
}
.navbar .nav>li {
    float: left;
    font-family: Droid_sans,Arial,Helvetica,sans-serif;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    line-height: 18px;
}
ul.nav li a{
    color: #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.nav li a.selected{
    color: #3b9a45;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.nav li a:hover{
    color: #507eca;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.nav li a i {
    margin: 0 5px 0 0;
}

/*CONTENT*/
#container > section{
    display: none;
}
.grid2{
    float: left;
    margin: 10px 10px 0 10px;
    width: 460px;
}
.inner_grid2{
    float: left;
    margin: 10px 10px 0 10px;
    width: 200px;
}
.grid3{
    float: left;
    margin: 10px 10px 0 10px;
    width: 300px;
}
.title{
    position: relative;
    display: block;
    font-family: raleway-regular, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
}
.big_text{
    position: relative;
    display: block;
    font-family: raleway-light, 'Trebuchet MS',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 24px;
}
.medium_text{
    position: relative;
    display: block;
    font-family: raleway-light, 'Trebuchet MS',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 16px;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
p.text{
    font-family: Droid_sans,Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 15px 0;
    font-weight: lighter;
    line-height: 20px;
}

.main_argentina{
    border: 1px solid black;
    border-radius: 5px;
}
#map_explorer_page{
    position: relative;
    background-color: #FFF;
    border-radius: 15px;
    height: 500px;
    box-shadow: 5px 5px 15px #CCC;
}
#map_container {
    position: relative;
    top: 10px;
    left: 10px;
    width: 940px;
    height: 480px;
}
#rankings_page > article{
    height: 200px;
    padding-top: 50px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 10px;
}
#rankings_page > article:hover{
    color: #6baced;
    cursor: pointer;
}
#contact_page section{
    margin: 0 auto;
    width: 460px;
}
.field_container:last-child{
    margin-top: 15px;
    text-align: left;
}
#contact_page label{
    color: #333;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-family: raleway-regular,Arial,sans-serif;
}
#contact_page input{
    background: #fff;
    border: 1px solid;
    border-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    height: 36px;
    padding: 0 10px;
    transition: all .5s ease-in-out;
    vertical-align: top;
    width: 100%;
    display: inline-block;
    position: relative;
    zoom: 1;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    outline: 0;
    font-family: raleway-regular,Arial,sans-serif;
    box-sizing: border-box;
}
#contact_page textarea{
    line-height: 20px;
    max-width: 100%;
    min-height: 140px;
    overflow: auto;
    padding: 10px;
    background: #fff;
    border: 1px solid;
    border-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    height: 36px;
    vertical-align: top;
    transition: all .5s ease-in-out;
    width: 100%;
    display: inline-block;
    position: relative;
    zoom: 1;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    outline: 0;
    box-sizing: border-box;
}
#contact_page input:focus, #contact_page textarea:focus{
    border-color: #6baced;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(82,168,236,.7);
}
#contact_page input.error, #contact_page textarea.error{
    border-color: #c92e2a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(201,46,42,.7);
}
#contact_page input.error:focus, #contact_page textarea.error:focus{
    border-color: #c92e2a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(201,46,42,.7);
}
#contact_page input[placeholder], #contact_page textarea[placeholder] {
    color: #999;
}
#contact_page input.error[placeholder], #contact_page textarea.error[placeholder] {
    color: #c92e2a;
}
#contact_page button {
    display: inline-block !important;
    padding: 4px 10px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-color: #f5f5f5 !important;
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
    background-repeat: repeat-x !important;
    border: 1px solid #bbbbbb !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;

    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #49afcd !important;
    background-color: #2f96b4 !important;
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4) !important;
    background-image: linear-gradient(to bottom, #4e9bdf, #3e7cb3) !important;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0) !important;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
}
#contact_page button:hover, #contact_page button:active{
    color: #FFF !important;
    background-color: #3e7cb3 !important;

    text-decoration: none;
    background-position: 0px -15px !important;
    transition: background-position 0.1s linear 0s !important;
}
#rankings_page i{
    font-size: 50px;
}


#country_info_page img{
    display:block;
    max-width: 275px;
    max-height: 200px;
    margin: 0 auto;
}
#country_info_page figcaption {
    margin-bottom: 10px;
}
#country_info_page figure{
    margin-bottom: 30px;
}
figcaption{
    text-align: center;
}

.info_table tr {
    display: table-row;
    vertical-align: inherit;
    border-top: 1px solid #000;
}
.info_table td:first-child{
    font-family: raleway-regular;
}
.info_table td {
    border-radius: 10px;
    font-family: raleway-light;
    font-size: 15px;
    padding: 5px 7px 5px 7px;
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

.rank_table{
    margin: 40px auto 0 auto;
    font-family: raleway-light;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    border-collapse:separate;
}
.rank_table th{
    font-size: 1.4em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #7cc284;
    color: #fff;
    border: 1px solid #DDD;
    padding: 10px 7px 10px 7px;
    font-family: raleway-regular;
}
.rank_table tr {
    display: table-row;
    vertical-align: inherit;
}
.rank_table td:first-child{
    font-family: raleway-regular;
}
.rank_table td {
    font-size: 1.2em;
    background-color: #fff;
    border: 1px solid #7cc284;
    padding: 10px 7px 10px 7px;
}

.rank_table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.rank_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

.rank_table tr:last-child th:first-child {
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}

.rank_table tr:last-child th:last-child {
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px
}

.justify{
    text-align: justify;
}

.page_header{
    width: 100%;
    height: 43px;
}

.page_header i{
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
    float: left;
    padding-left: 20px;
    color: #7cc284;
    cursor: pointer;
    text-shadow: 1px 0 0 #555, -1px 0 0 #555, 0 1px 0 #555, 0 -1px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
}

.page_header > h2{
    float: left;
    width: 860px;
    padding-right: 50px;
}

#country_info_page .grid3:nth-of-type(1){
    clear: both;
}