@import "tailwindcss";

:root {
  --background: #F8F8F8;
  --foreground: #171717;
  --geogeek-green: #3b9a45;
  --geogeek-green-light: #7cc284;
  --geogeek-blue: #507eca;
  --geogeek-blue-light: #6baced;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-geogeek-green: var(--geogeek-green);
  --color-geogeek-green-light: var(--geogeek-green-light);
  --color-geogeek-blue: var(--geogeek-blue);
  --color-geogeek-blue-light: var(--geogeek-blue-light);
  --font-open: var(--font-open-sans);
  --font-raleway: var(--font-raleway);
}

body {
  background-color: var(--background);
  background-image: url("/media/WorldMapGray.png") !important;
  color: var(--foreground);
  font-family: var(--font-open), Arial, Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@layer components {
  .title {
    @apply font-raleway font-normal leading-tight mb-[15px] text-center text-[36px];
  }

  .big-text {
    @apply font-raleway font-light leading-tight text-[24px];
  }

  .medium-text {
    @apply font-raleway font-light leading-tight text-[16px];
  }
}
